body {
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  font-weight:bolder;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:linear-gradient(rgba(145, 138, 138, 0.5),rgba(246, 244, 242, 0.5)), url(./assets/products/11.jpg) ;
}

code {
  font-family:'Courier New', Courier, monospace;
}
